streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
beautifulsoup4
lxml
requests
arxiv
wikipedia
langchainhub
transformers
torch
numpy
pandas
